{% extends "base.html" %}
{% block title %}Historial de Pedidos{% endblock %}
{% block content %}

<div class="container mt-4 styled-container">
    <h1 class="page-title">Historial de Pedidos</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Fecha y Hora</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.codigo }}</td>
                <td>{{ pedido.cliente.nombre }} {{ pedido.cliente.apellido }}</td> <!-- Mostramos nombre y apellido del cliente -->
                <td>
                    {% for detalle in pedido.detalles.all %}
                        {{ detalle.helado.nombre }} (Cantidad: {{ detalle.cantidad }}){% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for detalle in pedido.detalles.all %}
                        {{ detalle.cantidad }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ pedido.fecha_hora }}</td>
                <td>
                    <a href="{% url 'pedidos:detallepedido' pedido.id %}" class="btn-view">Ver Detalle</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}