{% extends "base.html" %}
{% block title %}Pedidos Pendientes{% endblock %}
{% block content %}

<div class="container mt-4 styled-container">
    <h1 class="page-title">Pedidos Pendientes</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Cliente</th>
                <th>Fecha y Hora</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            {% for detalle in pedido.boletadetalle_set.all %}
            <tr>
                <td>{{ detalle.codigo }}</td>
                <td>{{ pedido.cliente.nombre }}</td>
                <td>{{ pedido.fecha_hora }}</td>
                <td>
                    <a href="{% url 'pedidos:detallepedido' pedido.id %}" class="btn btn-primary">Ver Detalle</a>
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}