{% extends "base.html" %}
{% block title %}Detalle del Helado{% endblock %}
{% block content %}

<div class="container mt-4 detalle-styled">
    <h1 class="detalle-title">Detalle del Helado</h1>
    <div class="detalle-product">
        <p><strong>Nombre:</strong> {{ helado.nombre }}</p>
        <p><strong>Sabor:</strong> {{ helado.sabor }}</p>
        <p><strong>Descripción:</strong> {{ helado.descripcion }}</p>
        <p><strong>Precio:</strong> ${{ helado.precio }}</p>
        <p><strong>Stock:</strong> {{ helado.stock }}</p>
    </div>
    <div class="detalle-buttons">
        <a href="{% url 'helados:lista_helados' %}" class="detalle-volver-btn">Volver a la lista</a>
        {% if request.user.is_authenticated and request.user.perfil.rol == 'administrador' %}
            <a href="{% url 'helados:editar_helado' helado.id %}" class="detalle-editar-btn">Editar</a>
            <a href="{% url 'helados:eliminar_helado' helado.id %}" class="detalle-eliminar-btn">Eliminar</a>
        {% endif %}
    </div>
</div>

{% endblock %}
