{% extends "base.html" %}
{% block title %}Lista de Helados{% endblock %}
{% block content %}

<div class="container mt-4 styled-container">
    <h1 class="page-title">Lista de Helados</h1>
    {% if request.user.is_authenticated and request.user.perfil.rol == 'administrador' %}
        <a href="{% url 'helados:crear_helado' %}"><button class="create-button">Crear helado</button></a><br><br>
    {% endif %}
    <table class="styled-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Sabor</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for helado in helados %}
            <tr>
                <td>{{ helado.nombre }}</td>
                <td>{{ helado.sabor }}</td>
                <td>{{ helado.descripcion }}</td>
                <td>{{ helado.precio }}</td>
                <td>{{ helado.stock }}</td>
                <td>
                    <a href="{% url 'helados:detalle_helado' helado.id %}" class="btn-view">Ver</a>
                    {% if request.user.is_authenticated and request.user.perfil.rol == 'administrador' %}
                        <a href="{% url 'helados:editar_helado' helado.id %}" class="btn-edit">Editar</a>
                        <a href="{% url 'helados:eliminar_helado' helado.id %}" class="btn-delete">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
